In [1]:
# remove() -> verilen elemanı ilk gördüğü indexten siler
nums1 = [1,2,3,4,5,6,3]

nums1.remove(3)

nums1

[1, 2, 4, 5, 6, 3]

In [2]:
# sort() -> listeyi default olarak asc sıralar

nums1.sort()

nums1

[1, 2, 3, 4, 5, 6]

In [3]:
# desc sıralamak için 'reverse' key ini true olarak ayarlamak gerekir

nums1.sort(reverse=True)

nums1

[6, 5, 4, 3, 2, 1]

In [6]:
names1 = ['Sukran','Cihan','Elif']

names1.sort()

names1

['Cihan', 'Elif', 'Sukran']

In [7]:
mixedTypes = [5,2,9,'Cihan']

mixedTypes.sort()

mixedTypes

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
mixedTypes2 = [1,True,5,8,4,False,True]

mixedTypes2.sort()

mixedTypes2

[False, 1, True, True, 4, 5, 8]

In [10]:
# key parametresi aldığı fonksiyona göre sıralama yapar
names2 = ['Cihan','aslan']

names2.sort()

names2

['Cihan', 'aslan']

In [11]:
names2.sort(key=str.lower) # tüm elemanları küçük harf düşünüp sıralar ancak yapıyı değiştirmez
names2

['aslan', 'Cihan']

In [12]:
names3 = ['Murat','Mustafa','Muhammed'] # elemanların 0. indexinden başlayarak kıyaslar. Farklı olan ilk indexten sıralama yapar 
names3.sort()
names3

['Muhammed', 'Murat', 'Mustafa']

In [22]:
# pop() -> verilen indexteki elemanı siler ve döndürür

nums2 = [1,2,3,5,6]
print(nums2.pop(4))
nums2

6

[1, 2, 3, 5]

In [23]:
print(nums2.remove(2)) # remove() sildiği değeri döndürmez çünkü biz neyi sileceğini zaten veriyoruz
nums2

None

[1, 3, 5]

In [24]:
# clear() -> listenin tüm elemanlarını siler. Ancak liste kalır
nums2.clear()
nums2

[]

In [25]:
# del -> listeyi/listeleri hafızadan siler. 2 farklı yazım şekli vardır
del nums2
nums2

NameError: name 'nums2' is not defined

In [26]:
del(nums1)
nums1

NameError: name 'nums1' is not defined

In [27]:
nums1 = [1,2,3]
nums2 = [4,5,6]

del nums1,nums2

In [29]:
nums1

NameError: name 'nums1' is not defined

In [30]:
# count() -> aldığı datanın liste içinde kaç defa olduğunu sayar

nums1 = [1,2,3,4,1,2,6,8,1,1,2,3,5,4,9]
nums1.count(1)

4

In [31]:
nums1.count([1,2])

0

In [40]:
mixedTypes2.count(1)

3

In [41]:
# extend -> verilen iterable datanın elemanlarını sırasıyla listeye ekler
nums2 = [1,2,3,8,7,9,0]

nums2.extend([4,5,6])
nums2

[1, 2, 3, 8, 7, 9, 0, 4, 5, 6]

In [42]:
nums2.append([12,36,45]) # append aldığı iterable elemanı direkt sona ekler. eleman sayısı 1 artar

In [43]:
nums2

[1, 2, 3, 8, 7, 9, 0, 4, 5, 6, [12, 36, 45]]

In [45]:
# join() -> listenin elemanlarını birleştirir

"*".join(names1) # ayraç olarak başta verilen değeri kullanır

'Cihan*Elif*Sukran'