# Lists
###### -> [] içerisinde tanımlanır
###### -> mutable yapıdadır
###### -> itarable dır

In [1]:
list_1 = ['Cihan',36,'Foca','Izmir']
print(list_1)

['Cihan', 36, 'Foca', 'Izmir']

In [2]:
# len() içerisindeki datanın eleman sayısını döndürür
len(list_1)

4

In [4]:
# list() aldığı iterable datayı list yapıda döndürür.
list_2 = list("Cihan")
print(list_2)

['C', 'i', 'h', 'a', 'n']

In [6]:
list(125) # aldığı data iterable olmak zorundadır

TypeError: 'int' object is not iterable

In [9]:
list_3 = [1,5,3.14,False,'Bahadır',[4,5]] # listeler elemanlarını ',' ile ayırır. örnekteki listenin eleman sayısı 6 olacaktır
list_3

[1, 5, 3.14, False, 'Bahadır', [4, 5]]

In [8]:
len(list_3)

6

In [10]:
str(list_3[2])[1]

'.'

In [11]:
list_3[-1][1]**2

25

In [13]:
# mutable
list_3[-1] = 'Yeni eleman'
list_3

[1, 5, 3.14, False, 'Bahadır', 'Yeni eleman']

In [14]:
# concatination
[1,2,3] + ['Text','Examle']

[1, 2, 3, 'Text', 'Examle']

In [15]:
# multiply example
[1,False] * 3

[1, False, 1, False, 1, False]

In [16]:
list_4 = [1,1,1,1,1,1,1,1,1,1,1,1,1]
list_4[:3] = [2]*3
list_4

[2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [17]:
list_4[6:] = [5]*2
list_4

[2, 2, 2, 1, 1, 1, 5, 5]

## Basic operations with lists

In [18]:
nums = [1,2,3,4,5]
nums

[1, 2, 3, 4, 5]

In [19]:
# append() listenin sonuna ekleme yapar. Sadece bir eleman alır
nums.append(6)
nums

[1, 2, 3, 4, 5, 6]

In [20]:
nums.append(8,7)

TypeError: list.append() takes exactly one argument (2 given)

In [21]:
nums.append([7,8])
nums

[1, 2, 3, 4, 5, 6, [7, 8]]

In [22]:
# insert() belirtilen index e eleman ekler. mevcut elemanları shift to right uygular
nums_2 = [1,2,3,4,5]
nums_2.insert(2,'Cihan')
nums_2

[1, 2, 'Cihan', 3, 4, 5]

In [23]:
nums_2.insert(-2,'test')

In [24]:
nums_2

[1, 2, 'Cihan', 3, 'test', 4, 5]

In [26]:
# insert ile sona ekleme yapmak için son indexten büyük bir index değeri verilmeli
nums_2.insert(7,'test2')
nums_2

[1, 2, 'Cihan', 3, 'test', 4, 5, 'test2']