# Data Types

In [1]:
type(3)

int

In [2]:
type('3')

str

In [4]:
type(3.15)

float

In [6]:
pi_number = "3,14"
type(pi_number)

str

In [8]:
type(True) # boolean ifadelerin ilk harfi büyük olmalı

bool

In [39]:
xVars1 = (35,'35',"someText")
type(xVars1)

tuple

In [38]:
xVars2 = ['text',65,True]
type(xVars2)

list

# Type Conversations
##### -> str() gömülü bir fonksiyondur. int ve float ifadeleri str tipine çevirir

In [9]:
age = 36
converted_age = str(age)
print(age)
print(converted_age)

36
36

In [10]:
print(type(age))
print(type(converted_age))

<class 'int'>
<class 'str'>

##### -> float() gömülü bir fonksiyondur. int ve str gibi ifadeleri float tipine çevirir

In [14]:
age2 = 36
age3 = "72"
converted_age2 = float(age2)
converted_age3 = float(age3)
print(age2)
print(converted_age2)
print(converted_age3)
print(type(age2))
print(type(converted_age2))
print(type(converted_age3))

36
36.0
72.0
<class 'int'>
<class 'float'>
<class 'float'>

##### -> int() gömülü bir fonksiyondur. float ve str gibi ifadeleri int tipine çevirir

In [15]:
age4 = 31.5
age5 = '36'
converted_age4 = int(age4)
converted_age5 = int(age5)

print(converted_age4)
print(type(converted_age4))
print(converted_age5)
print(type(converted_age5))

31
<class 'int'>
36
<class 'int'>

In [7]:
num = 31.99999999999999999
converted_num = int(num)
print(converted_num)
print(type(converted_num))

32
<class 'int'>

###### float -> int dönüşümlerde ondalık kısım atılır. istisna olarak '.' dan sonra 16 adet 9 varsa üst int'e yuvarlar 
###### str -> float, int dönüşümlerde str ifade sadece rakam ve '.' içermelidir.

##### boolean to int or boolean to float

In [31]:
x = True
y = False

converted_x = int(x)
converted_y = int(y)

print(converted_x)
print(type(converted_x))
print(converted_y)
print(type(converted_y))

1
<class 'int'>
0
<class 'int'>

In [32]:
converted_x2 = float(x)
converted_y2 = float(y)

print(converted_x2)
print(type(converted_x2))
print(converted_y2)
print(type(converted_y2))

1.0
<class 'float'>
0.0
<class 'float'>

In [35]:
jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec = 31,28,31,30,31,30,31,31,30,31,30,31
print(jan,feb,mar,apr,may,jun,jul,aug,sep,oct,nov,dec)
print(apr)
print(dec)

31 28 31 30 31 30 31 31 30 31 30 31
30
31